/Logs/
/models1/VQ-Resnet/
/models1/Attention/
/models1/VQ-AlexNet/
/models1/VQ-DenseNet/
/models1/VQ-MobileNet/
/data/筛查数据/
/models1/argument/
/models1/qc/
/models1/qc_2/
/models1/resnet18/
/models2/VQ-Resnet18/
/models2/Vq-VAE-resnet18仅重构/
/models2/Vq-VAE-resnet18仅重构+分类器/
/models2/筛查+分类/
